@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

* {
  border: red solid 1px;
}

body {
  height: 100%;
  font-family: 'Nanum Myeongjo', serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.down-arrow {
  width: 20px;
  margin-bottom: 200px;
}

.portfolio-title {
  margin-bottom: 5px;
}