.nameBadge-container {
  width: 40%;
  /* background-image: url('../backgrounds/background-light-grey.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  margin-top: 200px;
  margin-bottom: 300px;
  border-radius: 15px;
}